/**
  |============================
  | Стилі для секції з клієнтами
  |============================
*/

.clients {
    @extend %list;
    display: flex;
    
}

.clients__link {
    @include centeredFlex;
    
    cursor: pointer;
    width: 170px;
    height: 92px;
    fill: $icon-main-color;
    border: 1px solid $icon-main-color;
    border-radius: 4px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    fill: $accent-color;
    border: 1px solid $accent-color;
}
}

.clients__item + .clients__item {
    margin-left: 30px;
}