/**
  |============================
  | Стилізація Footer-у
  |============================
*/

.footer {
    padding: 60px 0;
    
    background-color: $footer-hero-background;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

