/**
  |============================
  | Стилізація соцмереж у футері
  |============================
*/
.footer-social {
    margin-right: 93px;
}

.footer-social__title {
    margin-bottom: 20px;

    color: #FFFFFF; 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}


