/**
  |============================
  | Базові параметри для всього документу
  |============================
*/
body {
    background-color: $main-background;
    color: $main-text-color;
    font-family: $base-font;
}
