/**
  |============================
  | Перелік змінних
  |============================
*/
$accent-color:#2196F3;
$main-text-color:#757575;
$title-text-color:#212121;
$contact-text-color:rgba(255, 255, 255, 0.6);
$main-background:#FFFFFF;
$second-background:#F5F4FA;
$footer-hero-background:#2F303A;
$icon-main-color:#AFB1B8; 